@page "/"
@* Startseite (Home).
   - Wird beim Starten der Anwendung angezeigt.
   - Dient als Begrüßungs- oder Info-Seite. *@

<PageTitle>Home</PageTitle>

<h1>Fahrzeuge und Fahrer!</h1>

Willkommen!